.contacts
  color #fff
  font-size 1.3rem
  font-weight 100
  padding 6rem 0
  &__caption
    font-weight 100
  &__description
    text-align justify
    width 90%
    margin 2.3rem 0 3rem
  &__col
    padding-left 1rem
  &List
    padding 0
    list-style none
    line-height 3rem
    &__item_address
      position relative
      margin-left 8rem
      &:before
        content 'Address'
        position absolute
        left -8rem
    &__item_phone
      position relative
      margin-left 8rem
      &:before
        content 'Phone'
        position absolute
        left -8rem
    &__item_email
      position relative
      margin-left 8rem
      &:before
        content 'Email'
        position absolute
        left -8rem