.mainHeader
  padding-top 10rem
  padding-bottom 5rem
  text-align center
  font-weight 300
  font-size 1.5rem
  color #fff
  &__caption
    font-size 3.5rem
    font-weight 300
    line-height 3rem
  &__info
    line-height 3rem