.introduction
  background #fff
  padding 5rem
  border-bottom 1px solid grey
  border-radius 6px 6px 0 0
  @media screen and (max-width 996px)
    padding 2rem
    text-align center
  &Content__textInfo
    font-size 1.1rem
    color #6C6969
    padding .5rem 0 1.2rem
    line-height 2.3rem
    font-weight 300
      @media screen and (max-width 768px)
        position relative
  &Picture
    position relative
    border-radius 100%
    border 14px solid #fff
    margin 3rem 0 0    
    box-shadow 0 0 2px rgba(grey , 1)
    @media screen and (max-width 996px)
      width 60%
      margin 0 auto
    &__image
      display inline-block
      border-radius 100%
      width 100%
      
      




