.navbar
  position fixed
  top 0
  text-align: center
  background: #F8F8F8
  padding-left 11.6rem
  padding-right 11.6rem
  z-index 2
  border-radius 0 0 6px 6px
  &__item
    display inline-block
    padding 1rem
    font-weight 300
  &__link
    text-decoration none
    color #6C6969
    padding .6rem 1.8rem
    font-size 1.2rem
    &:hover
      background lightgrey
      border-radius 6px
      transition .4s