.navbar
  top 0
  text-align: center
  background: #F8F8F8
  z-index 2
  border-radius 6px 6px 0 0
  &__item
    display inline-block
    padding 1rem
    font-weight 300
  &__link
    text-decoration none
    color #6C6969
    font-size 1.2rem
    &:hover
      background lightgrey
      border-radius 6px
      transition .4s