.statistic
  background #fff
  text-align center
  &__content
    -moz-column-width  20rem
    padding 0 5rem
    text-align justify
    font-size 1.4rem
    font-weight 300
    color #808080
    line-height 2.3rem
    -moz-column-gap 2em