.contacts
  .container
    .row
      .col-sm-12.col-md-6.contacts__col
        h2.contacts__caption Aliquam sed mauris
        p.contacts__description Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna   | adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra | sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
        a.btn.btn_pink Learn More
      .col-sm-12.col-md-6.contacts__col
        h2.contacts__caption Etiam feugiat
        ul.contactsList
          li.contactsList__item_address 1234 Somewhere Road • Nashville, TN 00000 • USA
          li.contactsList__item_phone (000) 000-0000 x 0000
          li.contactsList__item_email information@untitled.tld
        ul.socialList
            li.socialList__item
              a(href="#")
                i.fa.fa-twitter.fa-2x
            li.socialList__item
              a(href="#")
                i.fa.fa-facebook.fa-2x
            li.socialList__item
              a(href="#")
                i.fa.fa-instagram.fa-2x
            li.socialList__item
              a(href="#")
                i.fa.fa-github.fa-2x
            li.socialList__item
              a(href="#")
                i.fa.fa-dribbble.fa-2x
