.getStarted
  h2.caption Congue imperdiet
  hr.line
  p.description Donec imperdiet consequat consequat. Suspendisse feugiat congue
    br
    |posuere. Nulla massa urna, fermentum eget quam aliquet.
  a.btn.btn_blue(href="#")  Learn More
  a.btn(href="#") Get Started