header.mainHeader
  .header__logo
    img(src="./images/rocket.png")
  h1.mainHeader__caption Stellar
  p.mainHeader__info Just another free, fully responsive site template <br> built by 
    a.link(href="#")  @ajlkn
    |  for 
    a.link(href="#") HTML5 UP.
