doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./style.css')
    title Stellar
  body
    .container
      include ./header.jade
      include ./navbar.jade
      include ./introduction.jade
      include ./service.jade
      include ./statistic.jade
