.introduction
  .row
    .col-md-7.col-sm-12
      .introductionContent
      h2.caption Ipsum sed adipiscing
      p.introductionContent__textInfo lorem ipsum dolor sit amet nullam consequat feugiat consequat magna adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus. Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
      a.btn Learn More
    .col-md-4.colsm-12.image_align
      .introductionPicture
        img.introductionPicture__image(src="./images/mob.png")
