.introduction
  .row
    .col-md-4.col-md-push-7
      .introductionPicture
        img.introductionPicture__image(src="./images/mob.png")
    .col-md-7.col-md-pull-4
      .introductionContent
        h2.caption Ipsum sed adipiscing
        p.introductionContent__textInfo lorem ipsum dolor sit amet nullam consequat feugiat consequat magna adipiscing magna etiam amet  veroeros.Lorem ipsum dolor tempus sit cursus. Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
      a.btn(href="#") Learn More
