nav.navbar
  li.navbar__item
    a.navbar__link(href="#") Introduction
  li.navbar__item
    a.navbar__link(href="#") First Section
  li.navbar__item
    a.navbar__link(href="#") Second Section
  li.navbar__item
    a.navbar__link(href="#") Get Started