.service
  h2.caption Magna veroeros
  hr.line
  .row.indents
    .col-sm-6.col-md-4
      .serviceItem
        .serviceItem__icon.serviceItem__icon_code
          i.fa.fa-code(aria-hidden="true")
        h2.serviceItem__caption Ipsum consequat
        p.serviceItem__description Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
    .col-sm-6.col-md-4
      .serviceItem
        .serviceItem__icon.serviceItem__icon_files
          i.fa.fa-files-o(aria-hidden="true")
        h2.serviceItem__caption Amed sed feugiat
        p.serviceItem__description Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
    .col-sm-12.col-md-4
      .serviceItem
        .serviceItem__icon.serviceItem__icon_diamond
          i.fa.fa-diamond(aria-hidden="true")
        h2.serviceItem__caption Dolor nullam
        p.serviceItem__description Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
  a.btn(href='#') Learn More
