.statistic
  h2.caption Ipsum consequat
  p.statistic__textInfo Donec imperdiet consequat consequat. Suspendisse feugiat congue br posuere. Nulla massa urna, fermentum eget quam aliquet.
  ul.statisticBoard
    li.statisticBoard__item.statisticBoard__item_fork
      span.item__icon 
            i.fa.fa-code-fork(aria-hidden="true")
        span.digit 5,120
        br
        | Etiam     
    li.statisticBoard__item.statisticBoard__item_folder
      span.item__icon 
            i.fa.fa-folder-open-o(aria-hidden="true")
        span.digit 8,192
        br
        | Magna
    li.statisticBoard__item.statisticBoard__item_signal
      span.item__icon 
            i.fa.fa-signal(aria-hidden="true")
        span.digit 2,048
        br
        | Tempus
    li.statisticBoard__item.statisticBoard__item_laptop
      span.item__icon 
            i.fa.fa-laptop(aria-hidden="true")
        span.digit 2,048
        br
        | Tempus
    li.statisticBoard__item.statisticBoard__item_diamond
      span.item__icon 
            i.fa.fa-diamond(aria-hidden="true")
        span.digit 1,024
        br
  p.statistic__content Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.
  a.btn Learn More