.btn
  border-top: none
  display inline-block
  padding .7rem 2.7rem
  border 1px solid lightgrey
  border-radius 6px
  font-size 1.4rem
  font-weight 300
  color grey
  cursor pointers
  text-decoration none
  margin 0 1rem
  transition .5s
  &:hover
    background-color rgba(222, 222, 222, 0.25)
    transition .5s

.btn_blue
  background #8cc9f0
  transition .5s
  &:hover
    background #9acff2
    transition .5s