.line
  background-image -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0)
  background-image -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0)
  background-image -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0)
  background-image linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0)
  width 9.5rem
  padding-top 2px
  border-radius 2px
  margin 2.8rem auto
  border none
  @media (max-width 768px)
    margin 2.8rem auto
    
.line_left
  margin 2.8rem 0rem
  @media (max-width 996px)
    margin 2.8rem auto