*
  box-sizing border-box
// растягивает на весь экран все что  есть 
html, body
  min-height 100%

body
  margin: 0
  background -moz-linear-gradient(80% 10%, #423e95, #ba6496)
  background -webkit-linear-gradient(80% 10%, #423e95, #ba6496)
  background linear-gradient(80% 10%, #423e95, #ba6496)
  font 16px 'Source Sans Pro', Helvetica,  sans-serif
  // краткая запись размера шрифта и семейство шрифтов
  color #636363

@media (max-width 768px)
  *
    font-size 8px

